

<div data-v-fb80cf49="" class="tabbar__container" style="--f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif;">
  <div data-v-fb80cf49="" class="tabbar__container-item" onclick="location.href = '/promotion'">
    <svg data-v-fb80cf49="" class="svg-icon icon-p3_promotion">
      <use xlink:href="#icon-p3_promotion">
      </use>
    </svg>
    <span data-v-fb80cf49="">
      Promotion
    </span>
  </div>
  <div data-v-fb80cf49="" class="tabbar__container-item" onclick="location.href = '/activity'">
    <svg data-v-fb80cf49="" class="svg-icon icon-p3_activity">
      <use xlink:href="#icon-p3_activity">
      </use>
    </svg>
    <span data-v-fb80cf49="">
      Activity
    </span>
  </div>
  <div data-v-fb80cf49="" class="tabbar__container-item active" onclick="location.href = '/home'">
    <!--v-if-->
    <div data-v-fb80cf49="" class="promotionBg">
      <svg data-v-fb80cf49="" class="svg-icon icon-p3_home_a">
        <use xlink:href="#icon-p3_home_a">
        </use>
      </svg>
    </div>
  </div>
  <div data-v-fb80cf49="" class="tabbar__container-item" onclick="location.href = '/wallet'" >
    <svg data-v-fb80cf49="" class="svg-icon icon-p3_wallet">
      <use xlink:href="#icon-p3_wallet">
      </use>
    </svg>
    <span data-v-fb80cf49="">
      Wallet
    </span>
  </div>
  <div data-v-fb80cf49="" class="tabbar__container-item" onclick="location.href = '/mian'">
    <svg data-v-fb80cf49="" class="svg-icon icon-p3_main">
      <use xlink:href="#icon-p3_main">
      </use>
    </svg>
    <span data-v-fb80cf49="">
      Account
    </span>
  </div>
</div>






